<div class="card shadow-lg o-hidden border-0 my-4">
    <div class="card-body">
                <div class="p-4">
                    <%=image_tag("fixit.jpg", :class => "fixit-logo")%>

                    <div class="text-center">
                        <h4 class="text-dark mb-4">Login</h4>
                    </div>
                    <form class="user" action="/login" method="POST">
                        <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>">

<<<<<<< HEAD
<div class="card shadow-lg o-hidden border-0 my-4">
    <div class="card-body">
                <div class="p-4">
                    <%=image_tag("fixit.jpg", :class => "fixit-logo")%>

                    <div class="text-center">
                        <h4 class="text-dark mb-4">Login</h4>
                    </div>
                    <form class="user" action="/login" method="POST">
                        <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>">

=======
>>>>>>> cdb5c703f8af1fc2816d2adb1be81fddb1291645
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text" id="exampleInputEmail"
                                aria-describedby="emailHelp" placeholder="Enter Email Address..."
                                name="login[username]">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="password" id="exampleInputPassword"
                                placeholder="Password" name="login[password]">
                        </div>
                        <div class="mb-3">
                            <div class="custom-control custom-checkbox small">
                                <div class="form-check">
                                    <input class="form-check-input custom-control-input" type="checkbox"
                                        id="formCheck-1">
<<<<<<< HEAD
                                    <label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label>
=======
                                    <label class="form-check-label custom-control-label" for="formCheck-1">Remember
                                        Me</label>
>>>>>>> cdb5c703f8af1fc2816d2adb1be81fddb1291645
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
                        <hr>
                    </form>
                    <div class="text-center">
<<<<<<< HEAD
                        <%# <a class="small" href="forgot-password.html">Forgot Password?</a> %>
=======
                        <a class="small" href="forgot-password.html">Forgot Password?</a>
>>>>>>> cdb5c703f8af1fc2816d2adb1be81fddb1291645
                    </div>
                    <div class="text-center">
                        <a class="small" href="/new">Create an Account!</a>
                    </div>
                </div>
            </div>
</div>