*{
    box-sizing: border-box;
}
.join-container{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    border: 0.5px #555 solid;
    border-radius: 5px;
    width: 1000px;
    height: 70vh;
}
.join-issue-img{
    width: 50%;
}
.join-issue-img img{
    width: 500px;
    height: 65vh;
    border-left: 0.5px #555 solid;
    margin: 5px;
}
.join-issue-details{
    background-color: rgba(223, 223, 223, 0.295);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 50%;
}