*{
    box-sizing: border-box;
    transition: all.2s linear;

}
.join-container{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    border: 0.5px #555 solid;
    border-radius: 5px;
    width: 1000px;
    height: 70vh;
}
.join-issue-img{
    width: 50%;
}
.join-issue-img img{
    width: 500px;
    height: 65vh;
    border-left: 0.5px #555 solid;
    margin: 5px;
}
.join-issue-details{
    background-color: rgba(223, 223, 223, 0.295);
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 50%;
    
}

// Box support

.container{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
#support{
    position: absolute;
    float: right;
    margin-bottom: 20px;
    // margin-top: 9%;
}
#support:hover{
    letter-spacing: 1px;
    opacity: 0.8;
}
.model-container, .model-container2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);

    transform: scale(0);
}
.model-container .model, .model-container2 .model2{
height: 400px;
width: 50%;
margin: 0 10px;
padding: 20px;
background: #fff;
border-radius: 5px;
text-align: center;
position: relative;

}

// .model-container2{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 100%;
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     // background: rgba(0,0,0,.3);

//     transform: scale(0);
// }
// .model-container2 .model2{
// height: 400px;
// width: 50%;
// margin: 0 10px;
// padding: 20px;
// background: #fff;
// border-radius: 5px;
// text-align: center;
// position: relative;

// }

.fa-home{
    font-size: 30px;
    color: #4d90fe;
    padding-bottom: 50px;
    /* margin: 10px 0; */
    top: 15px;

    float:left;
    transform: rotate(-0.10turn);
   
}
h3{
color:black;
font-size: 25px;
}
p{
    color: black;
    margin: 20px 0;
}
.model button, .model2 button{
    width: 100px;
    height: 50px;
    /* background: #4d90fe; */
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    /* margin-top:35%; */
    float:left;

    
}
button{
    background: #4d90fe;

}
.model-container .model button:hover,
.model-container2 .model2 button:hover{
opacity: .8;
}

.model-container .model .fa-times,
.model-container2 .model2 .fa-times{
position: absolute; 
top: 15px;
right: 15px;  
font-size: 25px; 
cursor: pointer;
color:black;

}

.matt{
   /* transform: scale(0); */
   display:none;
    // margin-right:20%;
    margin-left:0;
   
   
}
.sel{
    display: inline;
    width: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .35rem;
    float: left;
}
.btn-money{
    margin-top: 40px;
    float: left;
    margin-right: 100%;
}

div .main{
  padding-bottom:50px
}
.off{
  width: 50px;
  height:20px;
  border-radius: 50px;
  cursor: pointer;
  background: #fff;

}
.on{
  width: 50px;
  height:20px;
  border-radius: 50px;
  cursor: pointer;
  background: rgb(50, 150, 250);

}