<style>
 

</style>
 <%= stylesheet_link_tag 'help'%>

<body>
        <div class="layer" id="index2">
            <div class="questionsContainer">
                <div id="questionTitle">
                    Frequently Asked Questions
                </div>
                <div class="questions">
                    <div class="question-info">
                        <div class="question">
                            <span>What Is Fix It System?</span> <span class="open">+</span>
                        </div>
                        <div id="info1" class="info">
                            Netflix is a streaming service that offers a wide variety of award-winning TV shows,
                            movies, anime, documentaries, and more on thousands of internet-connected devices.
                        </div>
                    </div>
                    <div class="question-info">
                        <div class="question">
                            <span>How much does Netflix cost?</span> <span class="open">+</span>
                        </div>
                        <div id="info2" class="info">
                            Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device,
                            all for one fixed monthly fee. Plans range from USD7.99 to USD11.99 a month.
                            No extra costs, no contracts.
                        </div>
                    </div>
                    <div class="question-info">
                        <div class="question">
                            <span>Where can I watch?</span> <span class="open" id="open3">+</span>
                        </div>
                        <div class="info" id="info3">
                            Watch anywhere, anytime, on an unlimited number of devices.
                            Sign in with your Netflix account to watch instantly on the web
                            at netflix.com from your personal computer or on any internet-connected
                            device that offers the Netflix app, including smart TVs, smartphones,
                            tablets, streaming media players and game consoles.                        
                        </div>
                    </div>
                    <div class="question-info">
                        <div class="question" >
                            <span>What can I watch on Netflix?</span> <span class="open" id="open4">+</span>
                        </div>
                        <div class="info" id="info4">
                            Netflix has an extensive library of feature films,
                            documentaries, TV shows, anime, award-winning Netflix originals,
                            and more. Watch as much as you want, anytime you want.
                        </div>
                    </div>
                    <div class="question-info">
                        <div class="question">
                            <span>How do I cancel?</span> <span class="open" id="open5">+</span>
                        </div>
                        <div class="info" id="info5">
                            Netflix is flexible. There are no pesky contracts and no commitments.
                            You can easily cancel your account online in two clicks.
                            There are no cancellation fees – start or stop your account anytime.
                        </div>
                    </div>
                    
                </div>   
            </div>
        </div>
        <script>
              $(document).ready(function(){    
    $('.question-info').click(function(){
        $(this).children('.info').slideToggle()
        $(this).find('.open').toggleClass('opened')
    })

    $('.dot1').click(function(){
        $('.page1').show(350);
        $('.page2').hide(350);
        $('.page3').hide(350);
    });

    $('.dot2').click(function(){
        $('.page2').show(350);
        $('.page1').hide(350);
        $('.page3').hide(350);
    });

    $('.dot3').click(function(){
        $('.page3').show(350);
        $('.page1').hide(350);
        $('.page2').hide(350);
    });

    $('.posters').click(function(){
        $('.box').removeClass('hide')
        $('.box').addClass('show')
        $('#bigimg').attr('src', $(this).attr('src'))
    })

    
    $('.smallimg').mouseover(function(){
        $(this).css('opacity', '1')
    })
    $('.smallimg').mouseleave(function(){
        $(this).css('opacity', '0.8')
    })
    $('.smallimg').click(function(){
        if($('#bigimg').attr('src') != $(this).attr('src')){
            $(this).animate({
                opacity: "0.3"
            },300)
            $(this).animate({
                opacity: "1"
            },300)
           
            $('#bigimg').animate({
                width: "0",
                hight: "0",
                opacity: "0"
            },300).attr('src', $(this).attr('src'))
            $('#bigimg').animate({
                width: "300px",
                hight: "450px",
                opacity: "1"
            },300)
        }
       
    })
})
        </script>
  </body>